<!-- Modal -->
<div class="modal fade" id="editModal{{todo.id}}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5" id="editModalLabel"><i class="fas fa-edit"></i>&nbsp;&nbsp; Edit Todo</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="pb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center">
                                    <input type="text" name="title" class="form-control form-control-lg" id="editFormControlInput1" placeholder="Edit..."><div>
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <div class="px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                        <p class="lead fw-normal mb-0 bg-light w-100 ms-n2 ps-2 py-1 rounded">{{todo.title}}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>